## Preprocessing

In [35]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [36]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ['EIN'])

In [37]:
# Determine the number of unique values in each column.

for x in application_df.columns:
    print(x, len(application_df[x].unique()))

NAME 19568
APPLICATION_TYPE 17
AFFILIATION 6
CLASSIFICATION 71
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 8747
IS_SUCCESSFUL 2

In [38]:
# Look at APPLICATION_TYPE value counts for binning

app_type_counts = application_df['APPLICATION_TYPE'].value_counts()
app_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [39]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_type_counts[app_type_counts < 500].index)
application_types_to_replace

['T9', 'T13', 'T12', 'T2', 'T14', 'T25', 'T15', 'T29', 'T17']

In [40]:


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [41]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df['CLASSIFICATION'].value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4500        1
C2561        1
C2150        1
C1570        1
C4120        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [42]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classifications_gt_one = class_counts[class_counts >1]
classifications_gt_one

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1278       10
C1238       10
C1235        9
C1237        9
C7210        7
C4100        6
C1720        6
C2400        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C1267        2
C3200        2
C1246        2
C1234        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [43]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

classifications_to_replace = list (classifications_gt_one[classifications_gt_one<100].index)
classifications_to_replace

['C2800',
 'C7100',
 'C1300',
 'C1280',
 'C1230',
 'C1400',
 'C2300',
 'C7200',
 'C1240',
 'C8000',
 'C7120',
 'C1500',
 'C6000',
 'C1800',
 'C1250',
 'C8200',
 'C1278',
 'C1238',
 'C1235',
 'C1237',
 'C7210',
 'C4100',
 'C1720',
 'C2400',
 'C1257',
 'C1600',
 'C1260',
 'C2710',
 'C0',
 'C1267',
 'C3200',
 'C1246',
 'C1234',
 'C1256']

In [44]:
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      643
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C6100        1
C1236        1
C2500        1
C2570        1
C5200        1
C2190        1
C1900        1
C1732        1
C1245        1
C1283        1
C4120        1
C1820        1
C1248        1
C2170        1
C4500        1
C1728        1
C2380        1
C2150        1
C1570        1
C2561        1
C8210        1
C1580        1
C4200        1
C2600        1
C1370        1
C3700        1
Name: CLASSIFICATION, dtype: int64

In [45]:
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [46]:
# Convert categorical data to numeric with `pd.get_dummies`

application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,NAME_13TH BOMB SQUADRON ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [47]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
y
X = application_df.drop('IS_SUCCESSFUL', axis=1).values
X

array([[1.0000000e+00, 5.0000000e+03, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 1.0859000e+05, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 5.0000000e+03, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       ...,
       [1.0000000e+00, 5.0000000e+03, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 5.0000000e+03, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 3.6500179e+07, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00]])

In [48]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [49]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [51]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.


number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=7
hidden_nodes_layer2=14
hidden_nodes_layer3=21
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 7)                 137508
_________________________________________________________________
dense_4 (Dense)              (None, 14)                112
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 15
=================================================================
Total params: 137,635
Trainable params: 137,635
Non-trainable params: 0
_________________________________________________________________

In [52]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [53]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=100)

Train on 21865 samples, validate on 3859 samples
Epoch 1/100
21865/21865 [==============================] - 7s 317us/sample - loss: 0.5707 - accuracy: 0.7151 - val_loss: 0.4492 - val_accuracy: 0.7906
Epoch 2/100
21865/21865 [==============================] - 3s 151us/sample - loss: 0.3098 - accuracy: 0.8751 - val_loss: 0.5435 - val_accuracy: 0.7961
Epoch 3/100
21865/21865 [==============================] - 3s 150us/sample - loss: 0.1494 - accuracy: 0.9404 - val_loss: 0.7813 - val_accuracy: 0.7989
Epoch 4/100
21865/21865 [==============================] - 3s 150us/sample - loss: 0.1109 - accuracy: 0.9547 - val_loss: 1.0406 - val_accuracy: 0.7974
Epoch 5/100
21865/21865 [==============================] - 3s 152us/sample - loss: 0.0999 - accuracy: 0.9573 - val_loss: 0.9693 - val_accuracy: 0.8005
Epoch 6/100
21865/21865 [==============================] - 3s 151us/sample - loss: 0.0967 - accuracy: 0.9581 - val_loss: 0.8559 - val_accuracy: 0.8023
Epoch 7/100
21865/21865 [==============================] - 4s 160us/sample - loss: 0.0947 - accuracy: 0.9587 - val_loss: 0.9508 - val_accuracy: 0.8012
Epoch 8/100
21865/21865 [==============================] - 3s 155us/sample - loss: 0.0930 - accuracy: 0.9592 - val_loss: 0.9825 - val_accuracy: 0.8005
Epoch 9/100
21865/21865 [==============================] - 3s 154us/sample - loss: 0.0930 - accuracy: 0.9595 - val_loss: 1.0251 - val_accuracy: 0.8020
Epoch 10/100
21865/21865 [==============================] - 3s 155us/sample - loss: 0.0917 - accuracy: 0.9591 - val_loss: 0.9163 - val_accuracy: 0.7992
Epoch 11/100
21865/21865 [==============================] - 3s 152us/sample - loss: 0.0913 - accuracy: 0.9601 - val_loss: 0.9787 - val_accuracy: 0.8028
Epoch 12/100
21865/21865 [==============================] - 3s 152us/sample - loss: 0.0905 - accuracy: 0.9605 - val_loss: 1.0507 - val_accuracy: 0.7994
Epoch 13/100
21865/21865 [==============================] - 3s 154us/sample - loss: 0.0900 - accuracy: 0.9608 - val_loss: 1.1578 - val_accuracy: 0.7997
Epoch 14/100
21865/21865 [==============================] - 3s 153us/sample - loss: 0.0893 - accuracy: 0.9603 - val_loss: 1.0992 - val_accuracy: 0.8002
Epoch 15/100
21865/21865 [==============================] - 3s 154us/sample - loss: 0.0890 - accuracy: 0.9609 - val_loss: 1.0653 - val_accuracy: 0.7997
Epoch 16/100
21865/21865 [==============================] - 3s 153us/sample - loss: 0.0881 - accuracy: 0.9614 - val_loss: 0.6843 - val_accuracy: 0.7981
Epoch 17/100
21865/21865 [==============================] - 3s 153us/sample - loss: 0.0887 - accuracy: 0.9613 - val_loss: 1.1799 - val_accuracy: 0.7989
Epoch 18/100
21865/21865 [==============================] - 3s 154us/sample - loss: 0.0883 - accuracy: 0.9614 - val_loss: 1.3526 - val_accuracy: 0.7974
Epoch 19/100
21865/21865 [==============================] - 3s 153us/sample - loss: 0.0880 - accuracy: 0.9617 - val_loss: 1.3363 - val_accuracy: 0.7994
Epoch 20/100
21865/21865 [==============================] - 3s 154us/sample - loss: 0.0873 - accuracy: 0.9619 - val_loss: 1.3538 - val_accuracy: 0.7994
Epoch 21/100
21865/21865 [==============================] - 3s 154us/sample - loss: 0.0877 - accuracy: 0.9617 - val_loss: 1.3444 - val_accuracy: 0.7989
Epoch 22/100
21865/21865 [==============================] - 3s 153us/sample - loss: 0.0871 - accuracy: 0.9618 - val_loss: 1.3273 - val_accuracy: 0.7997
Epoch 23/100
21865/21865 [==============================] - 3s 153us/sample - loss: 0.0871 - accuracy: 0.9625 - val_loss: 1.3091 - val_accuracy: 0.7994
Epoch 24/100
21865/21865 [==============================] - 3s 153us/sample - loss: 0.0870 - accuracy: 0.9614 - val_loss: 1.3123 - val_accuracy: 0.7994
Epoch 25/100
21865/21865 [==============================] - 3s 153us/sample - loss: 0.0865 - accuracy: 0.9625 - val_loss: 1.2659 - val_accuracy: 0.7992
Epoch 26/100
21865/21865 [==============================] - 3s 154us/sample - loss: 0.0862 - accuracy: 0.9619 - val_loss: 1.2703 - val_accuracy: 0.7981
Epoch 27/100
21865/21865 [==============================] - 3s 154us/sample - loss: 0.0863 - accuracy: 0.9622 - val_loss: 1.2343 - val_accuracy: 0.7966
Epoch 28/100
21865/21865 [==============================] - 3s 154us/sample - loss: 0.0861 - accuracy: 0.9620 - val_loss: 1.2302 - val_accuracy: 0.7992
Epoch 29/100
21865/21865 [==============================] - 3s 154us/sample - loss: 0.0857 - accuracy: 0.9621 - val_loss: 1.2508 - val_accuracy: 0.7999
Epoch 30/100
21865/21865 [==============================] - 4s 170us/sample - loss: 0.0859 - accuracy: 0.9624 - val_loss: 1.2228 - val_accuracy: 0.7994
Epoch 31/100
21865/21865 [==============================] - 3s 154us/sample - loss: 0.0855 - accuracy: 0.9632 - val_loss: 1.2229 - val_accuracy: 0.7994
Epoch 32/100
21865/21865 [==============================] - 3s 155us/sample - loss: 0.0853 - accuracy: 0.9629 - val_loss: 1.2477 - val_accuracy: 0.7989
Epoch 33/100
21865/21865 [==============================] - 3s 154us/sample - loss: 0.0847 - accuracy: 0.9632 - val_loss: 1.2326 - val_accuracy: 0.7984
Epoch 34/100
21865/21865 [==============================] - 3s 154us/sample - loss: 0.0850 - accuracy: 0.9632 - val_loss: 1.2630 - val_accuracy: 0.7992
Epoch 35/100
21865/21865 [==============================] - 4s 165us/sample - loss: 0.0847 - accuracy: 0.9633 - val_loss: 1.2658 - val_accuracy: 0.7989
Epoch 36/100
21865/21865 [==============================] - 3s 154us/sample - loss: 0.0845 - accuracy: 0.9633 - val_loss: 1.2685 - val_accuracy: 0.7987
Epoch 37/100
21865/21865 [==============================] - 3s 154us/sample - loss: 0.0844 - accuracy: 0.9631 - val_loss: 1.2666 - val_accuracy: 0.7992
Epoch 38/100
21865/21865 [==============================] - 3s 154us/sample - loss: 0.0840 - accuracy: 0.9635 - val_loss: 1.2643 - val_accuracy: 0.7981
Epoch 39/100
21865/21865 [==============================] - 3s 154us/sample - loss: 0.0840 - accuracy: 0.9635 - val_loss: 1.2835 - val_accuracy: 0.7989
Epoch 40/100
21865/21865 [==============================] - 3s 153us/sample - loss: 0.0837 - accuracy: 0.9635 - val_loss: 1.3013 - val_accuracy: 0.7989
Epoch 41/100
21865/21865 [==============================] - 3s 155us/sample - loss: 0.0838 - accuracy: 0.9635 - val_loss: 1.3222 - val_accuracy: 0.7987
Epoch 42/100
21865/21865 [==============================] - 3s 155us/sample - loss: 0.0839 - accuracy: 0.9635 - val_loss: 1.3559 - val_accuracy: 0.7994
Epoch 43/100
21865/21865 [==============================] - 3s 153us/sample - loss: 0.0841 - accuracy: 0.9630 - val_loss: 1.3464 - val_accuracy: 0.7999
Epoch 44/100
21865/21865 [==============================] - 3s 155us/sample - loss: 0.0836 - accuracy: 0.9635 - val_loss: 1.3487 - val_accuracy: 0.7994
Epoch 45/100
21865/21865 [==============================] - 3s 154us/sample - loss: 0.0836 - accuracy: 0.9633 - val_loss: 1.3885 - val_accuracy: 0.8005
Epoch 46/100
21865/21865 [==============================] - 3s 153us/sample - loss: 0.0830 - accuracy: 0.9632 - val_loss: 1.3965 - val_accuracy: 0.7999
Epoch 47/100
21865/21865 [==============================] - 3s 154us/sample - loss: 0.0832 - accuracy: 0.9636 - val_loss: 1.3825 - val_accuracy: 0.7997
Epoch 48/100
21865/21865 [==============================] - 3s 154us/sample - loss: 0.0832 - accuracy: 0.9638 - val_loss: 1.3914 - val_accuracy: 0.7997
Epoch 49/100
21865/21865 [==============================] - 3s 153us/sample - loss: 0.0831 - accuracy: 0.9635 - val_loss: 1.3889 - val_accuracy: 0.8002
Epoch 50/100
21865/21865 [==============================] - 4s 180us/sample - loss: 0.0826 - accuracy: 0.9639 - val_loss: 1.4015 - val_accuracy: 0.8007
Epoch 51/100
21865/21865 [==============================] - 3s 157us/sample - loss: 0.0828 - accuracy: 0.9632 - val_loss: 1.4035 - val_accuracy: 0.8012
Epoch 52/100
21865/21865 [==============================] - 3s 155us/sample - loss: 0.0826 - accuracy: 0.9637 - val_loss: 1.4542 - val_accuracy: 0.7994
Epoch 53/100
21865/21865 [==============================] - 3s 154us/sample - loss: 0.0828 - accuracy: 0.9638 - val_loss: 1.4325 - val_accuracy: 0.8002
Epoch 54/100

21865/21865 [==============================] - 3s 154us/sample - loss: 0.0822 - accuracy: 0.9641 - val_loss: 1.4618 - val_accuracy: 0.7997
Epoch 55/100
21865/21865 [==============================] - 4s 168us/sample - loss: 0.0823 - accuracy: 0.9644 - val_loss: 1.4553 - val_accuracy: 0.7994
Epoch 56/100
21865/21865 [==============================] - 3s 159us/sample - loss: 0.0821 - accuracy: 0.9641 - val_loss: 1.4668 - val_accuracy: 0.8005
Epoch 57/100
21865/21865 [==============================] - 3s 154us/sample - loss: 0.0821 - accuracy: 0.9640 - val_loss: 1.4363 - val_accuracy: 0.7997
Epoch 58/100
21865/21865 [==============================] - 3s 153us/sample - loss: 0.0820 - accuracy: 0.9640 - val_loss: 1.4816 - val_accuracy: 0.7994
Epoch 59/100
21865/21865 [==============================] - 3s 153us/sample - loss: 0.0818 - accuracy: 0.9640 - val_loss: 1.4672 - val_accuracy: 0.7999
Epoch 60/100
21865/21865 [==============================] - 3s 153us/sample - loss: 0.0818 - accuracy: 0.9640 - val_loss: 1.4747 - val_accuracy: 0.7989
Epoch 61/100
21865/21865 [==============================] - 3s 153us/sample - loss: 0.0819 - accuracy: 0.9639 - val_loss: 1.4795 - val_accuracy: 0.7999
Epoch 62/100
21865/21865 [==============================] - 3s 153us/sample - loss: 0.0815 - accuracy: 0.9640 - val_loss: 1.5153 - val_accuracy: 0.7992
Epoch 63/100
21865/21865 [==============================] - 3s 153us/sample - loss: 0.0815 - accuracy: 0.9642 - val_loss: 1.5154 - val_accuracy: 0.7987
Epoch 64/100
21865/21865 [==============================] - 3s 154us/sample - loss: 0.0816 - accuracy: 0.9636 - val_loss: 1.4962 - val_accuracy: 0.7997
Epoch 65/100
21865/21865 [==============================] - 3s 156us/sample - loss: 0.0815 - accuracy: 0.9642 - val_loss: 1.5158 - val_accuracy: 0.7989
Epoch 66/100
21865/21865 [==============================] - 3s 155us/sample - loss: 0.0815 - accuracy: 0.9640 - val_loss: 1.5155 - val_accuracy: 0.7997
Epoch 67/100
21865/21865 [==============================] - 3s 154us/sample - loss: 0.0815 - accuracy: 0.9640 - val_loss: 1.4977 - val_accuracy: 0.8002
Epoch 68/100
21865/21865 [==============================] - 3s 154us/sample - loss: 0.0813 - accuracy: 0.9643 - val_loss: 1.5215 - val_accuracy: 0.7999
Epoch 69/100
21865/21865 [==============================] - 3s 156us/sample - loss: 0.0812 - accuracy: 0.9641 - val_loss: 1.5257 - val_accuracy: 0.7999
Epoch 70/100
21865/21865 [==============================] - 3s 158us/sample - loss: 0.0814 - accuracy: 0.9638 - val_loss: 1.5133 - val_accuracy: 0.7989
Epoch 71/100
21865/21865 [==============================] - 4s 206us/sample - loss: 0.0808 - accuracy: 0.9643 - val_loss: 1.5100 - val_accuracy: 0.7997
Epoch 72/100
21865/21865 [==============================] - 3s 155us/sample - loss: 0.0811 - accuracy: 0.9640 - val_loss: 1.5215 - val_accuracy: 0.7987
Epoch 73/100
21865/21865 [==============================] - 3s 154us/sample - loss: 0.0813 - accuracy: 0.9642 - val_loss: 1.5185 - val_accuracy: 0.7997
Epoch 74/100
21865/21865 [==============================] - 3s 154us/sample - loss: 0.0811 - accuracy: 0.9643 - val_loss: 1.4970 - val_accuracy: 0.7981
Epoch 75/100
21865/21865 [==============================] - 3s 155us/sample - loss: 0.0812 - accuracy: 0.9650 - val_loss: 1.4913 - val_accuracy: 0.8002
Epoch 76/100
21865/21865 [==============================] - 3s 154us/sample - loss: 0.0810 - accuracy: 0.9649 - val_loss: 1.5204 - val_accuracy: 0.7994
Epoch 77/100
21865/21865 [==============================] - 3s 155us/sample - loss: 0.0805 - accuracy: 0.9650 - val_loss: 1.5171 - val_accuracy: 0.8005
Epoch 78/100
21865/21865 [==============================] - 3s 155us/sample - loss: 0.0805 - accuracy: 0.9651 - val_loss: 1.5497 - val_accuracy: 0.7994
Epoch 79/100
21865/21865 [==============================] - 3s 155us/sample - loss: 0.0807 - accuracy: 0.9646 - val_loss: 1.4932 - val_accuracy: 0.7987
Epoch 80/100
21865/21865 [==============================] - 3s 154us/sample - loss: 0.0805 - accuracy: 0.9648 - val_loss: 1.5048 - val_accuracy: 0.7987
Epoch 81/100
21865/21865 [==============================] - 3s 158us/sample - loss: 0.0807 - accuracy: 0.9651 - val_loss: 1.5151 - val_accuracy: 0.7992
Epoch 82/100
21865/21865 [==============================] - 4s 181us/sample - loss: 0.0800 - accuracy: 0.9650 - val_loss: 1.5233 - val_accuracy: 0.7987
Epoch 83/100
21865/21865 [==============================] - 3s 153us/sample - loss: 0.0807 - accuracy: 0.9652 - val_loss: 1.5253 - val_accuracy: 0.8007
Epoch 84/100
21865/21865 [==============================] - 3s 152us/sample - loss: 0.0802 - accuracy: 0.9653 - val_loss: 1.5299 - val_accuracy: 0.7997
Epoch 85/100
21865/21865 [==============================] - 3s 154us/sample - loss: 0.0802 - accuracy: 0.9652 - val_loss: 1.5073 - val_accuracy: 0.8002
Epoch 86/100
21865/21865 [==============================] - 3s 157us/sample - loss: 0.0796 - accuracy: 0.9653 - val_loss: 1.5653 - val_accuracy: 0.7997
Epoch 87/100
21865/21865 [==============================] - 3s 158us/sample - loss: 0.0800 - accuracy: 0.9652 - val_loss: 1.5237 - val_accuracy: 0.7989
Epoch 88/100
21865/21865 [==============================] - 3s 153us/sample - loss: 0.0798 - accuracy: 0.9656 - val_loss: 1.5623 - val_accuracy: 0.7992
Epoch 89/100
21865/21865 [==============================] - 4s 166us/sample - loss: 0.0800 - accuracy: 0.9656 - val_loss: 1.5074 - val_accuracy: 0.7992
Epoch 90/100
21865/21865 [==============================] - 6s 283us/sample - loss: 0.0798 - accuracy: 0.9655 - val_loss: 1.5472 - val_accuracy: 0.7997
Epoch 91/100
21865/21865 [==============================] - 7s 327us/sample - loss: 0.0799 - accuracy: 0.9655 - val_loss: 1.5425 - val_accuracy: 0.7992
Epoch 92/100
21865/21865 [==============================] - 5s 251us/sample - loss: 0.0796 - accuracy: 0.9657 - val_loss: 1.6629 - val_accuracy: 0.8002
Epoch 93/100
21865/21865 [==============================] - 8s 356us/sample - loss: 0.0798 - accuracy: 0.9655 - val_loss: 1.6156 - val_accuracy: 0.7997
Epoch 94/100
21865/21865 [==============================] - 9s 406us/sample - loss: 0.0795 - accuracy: 0.9658 - val_loss: 1.6206 - val_accuracy: 0.7997
Epoch 95/100
21865/21865 [==============================] - 10s 448us/sample - loss: 0.0797 - accuracy: 0.9658 - val_loss: 1.6048 - val_accuracy: 0.7999
Epoch 96/100
21865/21865 [==============================] - 11s 496us/sample - loss: 0.0791 - accuracy: 0.9659 - val_loss: 1.6558 - val_accuracy: 0.7992
Epoch 97/100
21865/21865 [==============================] - 5s 210us/sample - loss: 0.0796 - accuracy: 0.9655 - val_loss: 1.6107 - val_accuracy: 0.7992
Epoch 98/100
21865/21865 [==============================] - 7s 337us/sample - loss: 0.0790 - accuracy: 0.9657 - val_loss: 1.5974 - val_accuracy: 0.7994
Epoch 99/100
21865/21865 [==============================] - 9s 397us/sample - loss: 0.0792 - accuracy: 0.9662 - val_loss: 1.6167 - val_accuracy: 0.7997
Epoch 100/100
21865/21865 [==============================] - 10s 440us/sample - loss: 0.0792 - accuracy: 0.9662 - val_loss: 1.6622 - val_accuracy: 0.7989

In [54]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/1 - 1s - loss: 0.8883 - accuracy: 0.6301
Loss: 0.6644997625100717, Accuracy: 0.6300874352455139

In [56]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save ("Resources/alphabet_soup_output.h5")